In [ ]:
"""
Q1. What are the characteristics of the tuples? Is tuple immutable?
characterestics of tuple: 
soln: 1. it is represented by circular paranthesis.
      2. it can store variety of elements of different data types.
         yes,tuples are immutable. the elements of the tuple cant be changed.
"""

In [12]:
"""
Q2. What are the two tuple methods in python? Give an example of each method. Give a reason why
tuples have only two in-built methods as compared to Lists.
soln : The two tuple methods are count and index. 
"""
#example : 
t = (1,2,3,"gokul","anand",True)
t.count(1)

2

In [13]:

t.index("gokul")

3

In [ ]:
"""
Tuples have only two methods compared to list as tuples are immutable and elements of the tuple cant be changed whereas elements of the list
can be changed and hence lists are mutable
"""

In [ ]:
"""
Q3. Which collection datatypes in python do not allow duplicate items? Write a code using a set to remove
duplicates from the given list.
List = [1, 1, 1, 2, 1, 3, 1, 4, 2, 1, 2, 2, 2, 3, 2, 4, 3, 1, 3, 2, 3, 3, 3, 4, 4, 1, 4, 2, 4, 3, 4, 4]
"""

In [ ]:
"""
soln: sets do not allow duplicate items or repeating items. 
"""

In [14]:
List = [1, 1, 1, 2, 1, 3, 1, 4, 2, 1, 2, 2, 2, 3, 2, 4, 3, 1, 3, 2, 3, 3, 3, 4, 4, 1, 4, 2, 4, 3, 4, 4]
set(List)

{1, 2, 3, 4}

In [ ]:
"""
Q4. Explain the difference between the union() and update() methods for a set. Give an example of
each method.
"""

In [ ]:
"""
soln: union of two or more sets is the collection of all elements of every individual set into a large union set.
"""

In [19]:
# example for union
set_1 = {1,2,3,4,5,"gokul","anand",False}

In [20]:
set_2 = {6,7,8,9,10,"data","science",True}

In [21]:
set_1.union(set_2)

{1, 10, 2, 3, 4, 5, 6, 7, 8, 9, False, 'anand', 'data', 'gokul', 'science'}

In [45]:
set_a = {1,2,3,5}

In [46]:
set_b = {1,2,4}

In [47]:
set_a.update(set_b)

In [48]:
set_a

{1, 2, 3, 4, 5}

In [49]:
set_b.update(set_a)

In [50]:
set_b

{1, 2, 3, 4, 5}

In [ ]:
"""
Q5. What is a dictionary? Give an example. Also, state whether a dictionary is ordered or unordered.
"""

In [ ]:
"""
soln: It is a data type which is represented by curly brackets. here , the elements are accessed using keys and elements are 
called values. This kind of key and value pair is called dictionary
"""

In [53]:
#example
my_dict = {"apple" : 1 , "orange" : 2 , "grapes" : 3 , "papaya" : (1,2,3) , "watermelon" : True}

In [54]:
my_dict

{'apple': 1, 'orange': 2, 'grapes': 3, 'papaya': (1, 2, 3), 'watermelon': True}

In [ ]:
"""
The above dictionary is ordered dictionary as the values can easily be accesed by the corresponding keys
"""

In [ ]:
"""
Q5.Can we create a nested dictionary? If so, please give an example by creating a simple one-level
nested dictionary.
"""

In [ ]:
"""
soln: yes we can create a nested dictionary
"""

In [63]:
#example
name = {"person1" : {"name" : "gokul","degree" : "btech", "branch":"ece"} }

In [ ]:
"""
Q7. Using setdefault() method, create key named topics in the given dictionary and also add the value of
the key as this list ['Python', 'Machine Learningâ€™, 'Deep Learning']
"""

In [70]:
dict1 = {'language' : 'Python', 'course': 'Data Science Masters'}
dict1.setdefault("topics", ["python","machinelearning","deeplearning"])

['python', 'machinelearning', 'deeplearning']

In [71]:
dict1

{'language': 'Python',
 'course': 'Data Science Masters',
 'topics': ['python', 'machinelearning', 'deeplearning']}

In [ ]:
"""
Q8. What are the three view objects in dictionaries? Use the three in-built methods in python to display
these three view objects for the given dictionary.
dict1 = {'Sport': 'Cricket' , 'Teams': ['India', 'Australia', 'England', 'South Africa', 'Sri Lanka', 'New Zealand']}
"""

In [ ]:
""" 
soln : the three view objects in python dictionary are:
       1. dict_keys
       2. dict_values
       3. dict_items
"""

In [75]:
dict1 = {'Sport': 'Cricket' , 'Teams': ['India', 'Australia', 'England', 'South Africa', 'Sri Lanka', 'New Zealand']}

In [76]:
dict1.keys()

dict_keys(['Sport', 'Teams'])

In [77]:
dict1.values()

dict_values(['Cricket', ['India', 'Australia', 'England', 'South Africa', 'Sri Lanka', 'New Zealand']])

In [78]:
dict1.items()

dict_items([('Sport', 'Cricket'), ('Teams', ['India', 'Australia', 'England', 'South Africa', 'Sri Lanka', 'New Zealand'])])